# Compiled python files
*.pyc
.pyc

# Idea files
.idea/tasks
*.iml
.idea/*
.idea/**

# Data files
*.wav
*.rdvx
*.rdvxz
*.rdvxm
*.png
*.jpg
*.jpeg
*.tar
*.gz
*.h5
*.npy
*.parquet
*.pqt
*.npz
*.txt
*.json
*.lz4
*.bin
*.mseed
*.log

# Other files
*.DS_Store
*.swp
*.bak
*.pickle
*.pkl
*.csv
*.kml
*.tflite
.claude/

# Profile outputs
*.prof

build
dist